.card {
  border-radius: 24px;
  background: #fbfbfb;
  position: relative;
}

.favorite_icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.image_box {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  padding: 12px;
}

.avatar {
  border-radius: 15px;
}

.box_name {
  position: absolute;
  top: 0;
  left: 144px;
}

.box_name_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.box_block {
  position: absolute;
  top: 0;
  right: 74px;
  display: flex;
  gap: 16px;
}

.address {
  display: flex;
  gap: 4px;
}

.block_icon {
  display: block;
}

.rating {
  display: flex;
  gap: 4px;
}
