.custom_select {
  position: relative;
  max-width: 226px;
}

.select_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 14px;
  padding: 16px 18px;
  background: #f03f3b;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  cursor: pointer;
  border: none;
  margin-bottom: 8px;
}

.arrow {
  stroke-width: 2px;
  stroke: #fbfbfb;
}

.options {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  border-radius: 14px;
  width: 100%;
  max-height: 244px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
}

.option:hover {
  color: #11101c;
}
