.header {
  padding: 20px clamp(16px, 6vw, 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.logo_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 92px;
}

.navigation {
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
}
