.header {
  padding: 20px 96px;
  display: flex;
}

.logo {
  padding: 10px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  /* color: #fbfbfb; */
  margin-right: 487px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 14px 0;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  /* color: #fbfbfb; */
  margin-right: 92px;
}
