.login {
  padding: 64px;
  position: relative;
  background: #fbfbfb;
  display: flex;
  gap: 40px;
}

.btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.login_info {
  max-width: 438px;
  display: flex;
  gap: 20px;
  justify-content: start;
}

.login_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
}

.login_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 438px;
  gap: 18px;
}

.input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
  max-width: 438px;
  max-height: 52px;
}

.btn_login {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  background: #f03f3b;
  border-radius: 30px;
  padding: 16px 196px;
}
