.container {
  min-width: 320px;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font-family: "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: var(--font-family);
}
